<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Izin untuk menggunakan kamera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Izin untuk mengakses dan menulis penyimpanan (Opsional) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Izin untuk mengakses flashlight -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Presensikehadiran"
        tools:targetApi="31">
        <activity
            android:name=".HistoryAdapter"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryResponse"
            android:exported="false" />
        <activity
            android:name=".HistoryData"
            android:exported="false" />
        <activity
            android:name=".Apiurl"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="false" />
        <activity
            android:name=".Hasil"
            android:exported="false" />
        <activity
            android:name=".apiikey"
            android:exported="false" />
        <activity
            android:name=".api1"
            android:exported="false" />
        <activity
            android:name=".Database"
            android:exported="false" /> <!-- Aktivitas lainnya -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".VisualisasiActivity"
            android:exported="false" />
        <activity
            android:name=".ScanActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActvity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Splash screen yang diekspor dengan intent-filter untuk memulai aplikasi -->
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>